/* Define the pulse animation using keyframes */
@keyframes pulse-text {
    0% {
        transform: scale(1); /* Start at normal size */
        opacity: 1;
    }
    50% {
        transform: scale(1.1); /* Slightly increase size */
        opacity: 0.3; /* Slightly fade out */
    }
    100% {
        transform: scale(1); /* Return to normal size */
        opacity: 1; /* Return to full opacity */
    }
}

/* Apply the animation to elements with the .pulse class */
.pulse-text {
    animation: pulse-text 1s ease-in-out infinite; /* 1-second animation, repeating infinitely */
}

/* Define the pulse animation using keyframes */
@keyframes pulse-input {
    0% {
        transform: scale(1); /* Start at normal size */
        opacity: 1;
    }
    50% {
        transform: scale(0.9); /* Slightly increase size */
        opacity: 0.3; /* Slightly fade out */
    }
    80% {
        transform: scale(1.05); /* Slightly increase size */
        opacity: 0.3; /* Slightly fade out */
    }
    100% {
        transform: scale(1); /* Return to normal size */
        opacity: 1; /* Return to full opacity */
    }
}

/* Apply the animation to elements with the .pulse class */
.pulse-input {
    animation: pulse-input 0.8s ease-in-out infinite; /* 1-second animation, repeating infinitely */
}

/* Define the pulse animation using keyframes */
@keyframes pulse-container {
    0% {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); /* 0 2px 10px * 1.5 */
    }
    50% {
            box-shadow: 0 1rem 2rem lightblue; /* 0 2px 10px * 1.5 */

    }
    100% {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); /* 0 2px 10px * 1.5 */
    }
}

/* Apply the animation to elements with the .pulse class */
.pulse-container {
    animation: pulse-container 1s ease-in-out infinite; /* 1-second animation, repeating infinitely */
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1.2s ease-in-out;
}