.header {
    width: 60%;
    max-width: 800px;
    position: fixed;
    top: 0;
    background-color: #f9f9f9;
    color: black;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.4s ease;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
}

.header.hidden {
    transform: translateY(-200%);
}

.header h1 {
    margin: 0;
    font-size: 20px;
    transition: transform 0.4s ease;
}
.header h1:hover {
    opacity: 0.7;
    transform: translateX(5%);

}

.header-select {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-select select {
    font-size: 0.8em;
    padding: 5px;
    width: 300px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.header-select select:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header-select select:focus {
    outline: none;
    border-color: #666;
    cursor: pointer;
}

.sign-in {
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.4s ease;
}

.sign-in:hover {
    opacity: 0.7;
    transform: translateX(-5%);
}